@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<div>
    <button class="btn btn-primary">
        <a  class ="text-light" asp-page="Create">Create New</a>
    </button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Filmovi[0].Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Filmovi[0].godina)
            </th>
            <th>Opcije</th>
        </tr>
    </thead>
    <thead>
        @foreach (var item in Model.Filmovi)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelIme => item.Ime)
                </td>
                <td>
                    @Html.DisplayFor(modelGodine => item.godina)
                </td>
                <td>
                    <a asp-page="/Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="/Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>


        }
    </thead>
</table>
