@page
@model IndexModel
@{
    
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Download Filmovi movies: HD smallest size</h1>
    <p>
        Welcome to the official Filmovi website.
        Here you can browse and download Filmovi movies in <br />excellent 720p, 1080p, 2160p 4K and 3D quality,
        all at the smallest file size.
        Filmovi Movies Torrents.
    </p>
</div>
<div class="text-right">
    <button class="btn btn-primary">
        <a class="text-light" asp-page="Create">Create New</a>
    </button>
    
</div>


<div class="row">
    @foreach (var item in Model.Filmovi)
    {

        <div class="col-sm-3 mt-5">
            <div class="card">
                <img class="card-img-top" src="@item.img" alt="Card image cap">
                <div class="card-body">
                    @Html.DisplayFor(modelIme => item.Ime)

                    @Html.DisplayFor(modelGodine => item.godina)
                </div>
                <div class="card-footer">
                    <a asp-page="/Edit" asp-route-id="@item.Id" class="card-link btn btn-primary">Edit</a>
                    <a asp-page="/Delete" asp-route-id="@item.Id" class="card-link btn btn-primary">Delete</a>
                </div>
                
            </div>
        </div>



    }

</div>
